<!-- All Repositories -->
<li class="sidebar-link mt-2">
    <a class="d-block small pl-4 py-1" href="/">
        <i class="fas fa-angle-left fa-fw"></i>
        All Repositories
    </a>
</li>
<!-- Current Repository -->
{% assign ref = page.path | split:'/' %}
{% assign nav_ref = ref[0] %}
{% assign repo = site.data.navigation[nav_ref] %}
<li class="sidebar-link">
    <a class="d-block pl-4 py-2" href="{{ repo.link }}" {% if external %}target="_blank"{% endif %}>
        {{ repo.name }}
    </a>
</li>
{% assign cat_ref = ref[1] | prepend: '/' %}
<!-- Categories -->
{% for category in repo.categories %}
<li class="sidebar-link {% if category.link == cat_ref  %}sidebar-category{% endif %}">
    {% if category.link == cat_ref  %}
        <details open>
            <!-- Active Category -->
            <summary>
                <div class="d-block d-flex justify-content-between align-items-center">
                    <a class="d-block pl-4 py-2 mr-3 text-muted" style="flex: auto" href="{{ repo.link }}{{ category.link }}">
                        {{ category.name }}
                    </a>
                    <i class="summary-open text-white fas fa-angle-up fa-fw mx-2"></i>
                    <i class="summary-closed text-white fas fa-angle-down fa-fw mx-2"></i>
                </div>
            </summary>
            <!-- Pages -->
            <ul class="pl-0">
                {% for links in category.links %}
                    <li class="sidebar-link">
                        <a class="d-block pl-4 py-2" href="{{ repo.link }}{{ category.link }}{{ links.link }}">
                            {{ links.name }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </details>
    {% else %}
        <!-- Category -->
        <a class="d-block pl-4 py-2" href="{{ repo.link }}{{ category.link }}">
            {{ category.name }}
        </a>
    {% endif %}
</li>
{% endfor %}